body {background-color:white;
font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

h1{color:grey;
font-size: 3em;}

div.first {
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 50px;
}
div {
  padding-right: 10px;
  padding-left: 50px;
}
label {
	width: 100px;
	display: inline-block;
}
